<nav class="navbar dk-fixed-top navbar-light bg-light">
  <div>
    <span class="font-weight-bold mb-0 mx-1">{{isNewMode? 'New Job' : readonly? 'Display Job' : 'Change Job'}}</span>
  </div>

  <div class="flex-row-reverse">
    <button *ngIf="mainForm?.get('status')?.value === 1"
            class="btn btn-sm btn-light mr-2" type="button" title="Return to List" id="refresh"
            (click)="refresh()" >
      <span class="fas fa-sync-alt"></span>
    </button>
    <button class="btn btn-sm btn-outline-info mr-2" type="button" title="Return to List" id="toList"
            (click)="return2List()" >
      <span class="fas fa-list-ul"> To List</span>
    </button>
    <button *ngIf="!isNewMode && mainForm?.get('status')?.value !== 2"
            class="btn btn-sm btn-outline-primary mr-2" type="button" title="Edit/Display" id="editDisplay"
            (click)="switchEditDisplay()">
      <span *ngIf="readonly" class="fas fa-edit"> Edit</span>
      <span *ngIf="!readonly" class="fas fa-glasses"> Display</span>
    </button>
    <button *ngIf="!isNewMode && mainForm?.get('status')?.value < 2"
            class="btn btn-sm btn-outline-secondary mr-2" type="button" title="Schedule Job" id="cancel"
            (click)="cancelJob()">
      <span class="fas fa-times-circle"> Cancel</span>
    </button>
    <button *ngIf="!isNewMode && mainForm?.get('status')?.value === 0"
            class="btn btn-sm btn-outline-success mr-2" type="button" title="Schedule Job" id="schedule"
            (click)="schedule()">
      <span class="fas fa-calendar-plus"> Schedule</span>
    </button>
    <button class="btn btn-sm btn-outline-primary mr-2" type="button" title="Save" id="save"
            (click)="save()" [disabled]="readonly">
      <span class="fas fa-save"> Save</span>
    </button>
  </div>
</nav>

<div class="mt-2 mb-2">
  <dk-message></dk-message>
</div>

<div *ngIf="mainForm" class="ml-2">

  <div *ngIf="workInProgress" class="overlay">
    <div class="spinner-border" role="status">
<!--      <span class="sr-only">Processing...</span>-->
    </div>
  </div>

  <div class="mt-2 ml-1 row">
    <div class="form-group col-md-6 col-lg-4" [formGroup]="mainForm">
      <label for="jobName" class="col-form-label form-control-sm">Job Name:
        <span [class.ng-invalid]="mainForm.get('name')?.invalid" class="dk-invalid-feedback">
          {{mainForm.get('name')?.errors?.message}}
        </span>
      </label>
      <input class="form-control form-control-sm" id="jobName" name="jobName"
                formControlName="name" [readonly]="readonly">
    </div>
    <div class="form-group col-md-6 col-lg-4" [formGroup]="textForm">
      <label for="description" class="col-form-label form-control-sm">Description:
      </label>
      <textarea class="form-control form-control-sm" id="description" name="description" rows="1"
                formControlName="DEFAULT" [readonly]="readonly"></textarea>
    </div>
    <div class="col-md-6 col-lg-4">
      <label for="status" class="col-form-label form-control-sm">Job Status:
      </label>
      <h3 class="ml-2" id="status"
          [ngClass]="jobStatusColors[mainForm.get('status')?.value]">{{jobStatuses[mainForm.get('status')?.value]}}</h3>
    </div>
  </div>

  <ul class="nav nav-tabs mt-1">
    <li class="nav-item">
      <a class="nav-link" [class.active]="tabStrip===1" href="javascript:void(0);" (click)="switchTabStrip(1)">Steps({{numberOfSteps}})</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tabStrip===2" href="javascript:void(0);" (click)="switchTabStrip(2)">Start Condition</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [class.active]="tabStrip===3" href="javascript:void(0);" (click)="switchTabStrip(3)">Occurrence</a>
    </li>
    <li class="nav-item" *ngIf="mainForm.get('createdBy')">
      <a class="nav-link" [class.active]="tabStrip===4" href="javascript:void(0);" (click)="switchTabStrip(4)">Admin</a>
    </li>
  </ul>

  <div class="mt-2" [ngSwitch]="tabStrip">
    <app-job-steps *ngSwitchCase="1" [mainForm]="mainForm" [readonly]="readonly"></app-job-steps>
    <app-job-start-condition *ngSwitchCase="2" [mainForm]="mainForm" [readonly]="readonly" [hasSimulation]="true"></app-job-start-condition>
    <app-job-occurrences *ngSwitchCase="3" [mainForm]="mainForm" [displayStatistics]="displayStatistics" [readonly]="readonly"></app-job-occurrences>
    <app-admin *ngSwitchCase="4" [mainForm]="mainForm"></app-admin>
  </div>
</div>

<div class="modal" [class.show]="showScheduleConfirmation"
     [ngStyle]="{'display': displayScheduleConfirmation}" id="scheduleConfirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmSchedule">Schedule the Job?</h5>
        <button type="button" class="close" (click)="cancelSchedule()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Do you want to schedule the job right now?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelSchedule()">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="schedule()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.show]="showChangeConfirmation"
     [ngStyle]="{'display': displayChangeConfirmation}" id="changeConfirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmChange">Confirm the Change?</h5>
        <button type="button" class="close" (click)="cancelChange()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Changing of a scheduled job will cancel all its ready occurrences, and then re-schedule them.</p>
        <p>Do you want to process?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelChange()">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="change()">Yes</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" [class.show]="showCancelConfirmation"
     [ngStyle]="{'display': displayCancelConfirmation}" id="cancelConfirmation" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmCancel">Cancel the Job?</h5>
        <button type="button" class="close" (click)="cancelCancelJob()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to cancel the job?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-secondary" (click)="cancelCancelJob()">No</button>
        <button type="button" class="btn btn-sm btn-primary" (click)="confirmCancelJob()">Yes</button>
      </div>
    </div>
  </div>
</div>
