<div class="card mt-2" *ngFor="let group of groups">
  <div class="card-header">{{group.label}}</div>
  <div class="card-body">
    <div *ngFor="let parameter of getGroupParameters(group.name)"
         [ngStyle]="{'display': parameter['paramDefinition'].hidden?'none':'block'}">
      <dk-app-attribute-form2  *ngIf="parameter['attributeControl']"
                              [attributeControl]="parameter['attributeControl']"
                              [formGroup]="paramFormGroup"
                              [readonly]="readonly"
                              [isSmallSize]="true">
      </dk-app-attribute-form2>
    </div>
  </div>
</div>
