<div class="container-fluid" [formGroup]="jobStartConditionFormGroup">
  <div class="mb-2">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="mode" id="ImmediatelyMode" [value]="0"
             formControlName="mode" (change)="onChangeMode()">
      <label class="form-check-label" for="ImmediatelyMode">Immediately</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="mode" id="SpecificTimeMode" [value]="1"
             formControlName="mode" (change)="onChangeMode()">
      <label class="form-check-label" for="SpecificTimeMode">At Specific Time</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="mode" id="RecursivelyMode" [value]="2"
             formControlName="mode" (change)="onChangeMode()">
      <label class="form-check-label" for="RecursivelyMode">Recursively</label>
    </div>
  </div>

  <div class="mt-2" [ngSwitch]="jobStartConditionFormGroup.get('mode')?.value">
    <div class="card" *ngSwitchCase="1">
      <div class="card-header">Job will start at the given datetime</div>
      <div class="card-body">
        <div class="form-group row col-6">
          <div>
            <input id="startFrom" name="startFrom" type="datetime-local" class="form-control"
                   [readOnly]="readonly" [(date)]="specificTime" (dateChange)="onChangeSpecificDate($event)">
          </div>
        </div>
      </div>
    </div>

    <div class="card" *ngSwitchCase="2">
      <div class="card-header">Job starts recursively with the given rule</div>
      <div class="card-body">
        <app-job-recursive-schedule [startConditionForm]="jobStartConditionFormGroup" [readonly]="readonly"></app-job-recursive-schedule>
      </div>
    </div>
  </div>

</div>
